body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: azure;
}
h2{
    text-align: center;
}
form {
    max-width: 400px;
    margin: auto;
}
.logo{
    text-align: left;
    width: 50px;
}
label {
    display: block;
    margin-bottom: 8px;
}
input {
    width: 100%;
    padding: 8px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
button {
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
button:hover {
    background-color: #218838;
}