body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    position: relative;
    background-color: azure;
}

nav h1{

font-size: 16px;

}

header {
    text-align: center;
    margin-bottom: 20px;
}

header img {
    width: 150px;
    height: auto;
    border-radius: 50%;
}

.company-description {
    margin-top: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.login-box {
    position: absolute;
    top: 15px;
    right: 15px;
    background-color:rgb(239, 255, 255);
    padding: 4px;
    border-radius: 2px;
    font-family: 'Times New Roman', Times, serif;
    
}

.main-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0; 
    padding-left: 20px;
    margin-top: 10px; 
}

.plataformas {
    text-align: left;
    font-family: cursive;
    margin-top: 5px; 
}

.games-list {
    margin-top: 5px; 
}


.plataformas h3 {
    margin: 2 2 10px;
}

.plataforma-item {
    display:flex;
    align-items: center; 
    margin-bottom: 15px; 
}
.plataforma-item img {
    width: 50px; 
    height: auto; 
    margin-right: 10px; 
}

.contact-info {
    font-style: oblique;
    position: absolute;
    bottom: 20px;
    right: 20px;
    padding: 23px;
    border-radius: 5px;
    font-size: 12px;
    margin-top: 60px;
    font-size: 14px;
}

.main-nav {
    margin-top: 20px;
}

.main-nav ul {
    list-style-type: none;
    padding: 0;
}

.main-nav li {
    display: inline;
    margin: 0 15px;
}

footer img {
    width: 53px;
    height: 53px;
}

footer {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

h1 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 10px;
    padding-left: 4px;
}

.carousel-container {
    position:relative;
    max-width: 400px; 
    margin: 20px auto; 
    overflow: hidden; 
    width: 160%;
}

.carousel {
    display: flex;
    transition: transform 0.5s ease; 
}

.carousel-image {
    min-width: 130%; 
    max-height: 300px;
    object-fit: contain; 
    
}

button {
    position: absolute;
    top: 60%;
    transform: translateY(-50%);
    background-color:(255, 255, 255, 0.8); 
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 17px;
    border-radius: 5px;
}

.prev {
    left: 10px; 
}

.next {
    right: 10px; 
}

.login-box button {
    padding: 6px 12px; 
    font-size: 14px; 
    border-radius: 3px; 
}